* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans Bengali", sans-serif;
}

body {
    background: #0f0f0f;
    color: white;
}

.hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;

    background: linear-gradient(
        rgba(0,0,0,0.7),
        rgba(0,0,0,0.9)
    ),
    url("background.jpg");

    background-size: cover;
    background-position: center;
}

.hero h1 {
    font-size: 70px;
    letter-spacing: 5px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 22px;
    line-height: 1.8;
    color: #ddd;
}

.btn {
    margin-top: 40px;
    padding: 15px 40px;
    background: #ffffff;
    color: #000;
    text-decoration: none;
    border-radius: 30px;
    font-size: 18px;
    transition: 0.3s;
}

.btn:hover {
    background: #ffcc00;
    transform: scale(1.05);
}