*{
margin:0;
padding:0;
box-sizing:border-box;
}


body{

font-family:"Noto Sans Bengali",sans-serif;

background:#000;

color:white;

}



.hero{

height:100vh;

background:
linear-gradient(
rgba(0,0,0,.65),
rgba(0,0,0,.90)
),
url("background.jpg");


background-size:cover;

background-position:center;

display:flex;

justify-content:center;

align-items:center;

text-align:center;

}



.overlay{

padding:20px;

}



.hero h1{

font-size:80px;

letter-spacing:8px;

margin-bottom:25px;

text-shadow:0 0 20px white;

}



.hero p{

font-size:24px;

line-height:1.8;

color:#ddd;

}



.btn{

display:inline-block;

margin-top:40px;

padding:15px 45px;

background:white;

color:black;

text-decoration:none;

border-radius:50px;

font-weight:bold;

}



.btn:hover{

background:#c9a227;

color:white;

}




/* Story Section */


.stories{

padding:70px 20px;

background:#080808;

text-align:center;

}



.stories h2{

font-size:40px;

margin-bottom:40px;

}



.story-container{

display:flex;

justify-content:center;

gap:25px;

flex-wrap:wrap;

}



.story-card{

width:300px;

background:#151515;

padding:30px;

border-radius:20px;

border:1px solid #333;

text-align:left;

}



.story-card h3{

font-size:25px;

margin-bottom:15px;

}



.story-card p{

color:#ccc;

line-height:1.7;

}



.story-card a{

display:inline-block;

margin-top:20px;

color:white;

text-decoration:none;

}





/* Read Page */


.read-page{

min-height:100vh;

background:

linear-gradient(
rgba(0,0,0,.85),
rgba(0,0,0,.95)
),
url("background.jpg");


background-size:cover;

background-position:center;

padding:60px 20px;

display:flex;

justify-content:center;

}



.story-content{

max-width:750px;

background:#111;

padding:40px;

border-radius:20px;

font-size:20px;

line-height:2;

}



.story-content h1{

text-align:center;

font-size:45px;

}



.author{

text-align:center;

color:#aaa;

margin:20px 0 40px;

}



.story-content p{

margin-bottom:25px;

color:#ddd;

}



.back-btn{

display:inline-block;

padding:12px 30px;

background:white;

color:black;

text-decoration:none;

border-radius:30px;

}




footer{

text-align:center;

padding:25px;

background:#000;

color:#777;

}




@media(max-width:768px){


.hero h1{

font-size:50px;

}


.hero p{

font-size:18px;

}


.story-card{

width:90%;

}


.story-content{

padding:25px;

font-size:18px;

}


}