*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}


html{
    scroll-behavior:smooth;
}


body{

    font-family:"Noto Sans Bengali", sans-serif;

    background:#050505;

    color:white;

}



/* HERO */

.hero{

    min-height:100vh;

    background:
    linear-gradient(
        rgba(0,0,0,.55),
        rgba(0,0,0,.85)
    ),
    url("background.jpg");


    background-size:cover;

    background-position:center;


    position:relative;

}



/* NAVBAR */

nav{

    width:90%;

    margin:auto;

    padding:30px 0;


    display:flex;

    justify-content:space-between;

    align-items:center;

}



.logo{

    font-size:32px;

    font-weight:bold;

    letter-spacing:3px;

}



.menu a{

    color:white;

    text-decoration:none;

    margin-left:30px;

    font-size:17px;

    opacity:.8;

    transition:.3s;

}



.menu a:hover{

    opacity:1;

    color:#d4af37;

}




/* HERO CONTENT */


.hero-content{

    height:80vh;

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;

    text-align:center;

}



.small{

    color:#d4af37;

    letter-spacing:5px;

    text-transform:uppercase;

}



.hero h1{

    font-size:100px;

    letter-spacing:15px;

    margin:20px 0;


    animation:fade 1.5s;

}



.hero-content p{

    font-size:22px;

    line-height:2;

    color:#ddd;

}



.main-btn{

    margin-top:40px;

    padding:16px 45px;


    background:white;

    color:black;

    text-decoration:none;


    border-radius:50px;


    transition:.4s;

}



.main-btn:hover{

    background:#d4af37;

    color:white;

    transform:translateY(-5px);

}




/* SECTION */


section{

    padding:100px 7%;

}



.section-title{

    text-align:center;

    margin-bottom:60px;

}


.section-title p{

    color:#d4af37;

    letter-spacing:3px;

}


.section-title h2{

    font-size:45px;

    margin-top:15px;

}




/* FEATURED */


.featured-card{


    min-height:350px;


    border-radius:30px;


    padding:50px;


    display:flex;

    align-items:center;



    background:

    linear-gradient(
    135deg,
    rgba(255,255,255,.1),
    rgba(255,255,255,.02)
    );


    backdrop-filter:blur(20px);


    border:1px solid rgba(255,255,255,.1);



}



.featured-card h3{

    font-size:45px;

}



.featured-card p{

    margin:20px 0;

    color:#ccc;

    font-size:20px;

}


.featured-card a{

    color:white;

    text-decoration:none;

}





/* STORY CARDS */


.cards{


    display:grid;


    grid-template-columns:
    repeat(auto-fit,minmax(280px,1fr));


    gap:30px;

}




.card{


    padding:35px;


    background:

    rgba(255,255,255,.05);


    backdrop-filter:blur(15px);


    border-radius:25px;


    border:1px solid rgba(255,255,255,.1);


    transition:.5s;


}



.card:hover{


    transform:translateY(-15px);


    border-color:#d4af37;


}




.card span{


    color:#d4af37;

    font-size:14px;


}



.card h3{

    font-size:30px;

    margin:20px 0;

}



.card p{

    color:#bbb;

    line-height:1.8;

}



.card a{

    display:inline-block;

    margin-top:25px;

    color:white;

    text-decoration:none;

}




/* FOOTER */


footer{

    padding:50px;

    text-align:center;

    background:#000;


}


footer h2{

    font-size:35px;

}





/* ANIMATION */


@keyframes fade{


from{

opacity:0;

transform:translateY(40px);

}


to{

opacity:1;

transform:translateY(0);

}


}





/* MOBILE */


@media(max-width:768px){


nav{

flex-direction:column;

gap:20px;

}



.menu a{

margin:10px;

}



.hero h1{

font-size:55px;

letter-spacing:8px;

}



.hero-content p{

font-size:17px;

}



.section-title h2{

font-size:35px;

}



.featured-card h3{

font-size:35px;

}



}
.about{

padding:100px 7%;

text-align:center;

background:#080808;

}


.about h2{

font-size:45px;

margin-bottom:20px;

}


.about p{

color:#ccc;

font-size:20px;

line-height:2;

}